	body{
		background-color: white;
	}
	#aa{
		font-size: 12px;
		line-height: 25px;
		color: #515154;
		justify-content: left;
		justify-content: space-between;
		font-family:  helvetica, Arial, sans-serif;
		text-align: left;
        display: flex;
        margin: 20px 270px 20px 240px;
        letter-spacing: 0.5px;

	}
	footer{
        
		background-color: #f5f5f7;
	}
	#bb{
		margin: 20px 270px 5px 270px;
		padding-top: 15px;
	    font-family:  helvetica, Arial, sans-serif;
		font-size: 11px;
		line-height: 18px;
		text-align: left;
		letter-spacing: 0.3px;
		color: #86868b;
	    }
	#cc{
		font-family:  helvetica, Arial, sans-serif;
		color: #86868b;
		letter-spacing: 0.3px;
		font-size: 12px;
		margin-bottom: -10px;
		margin-left: 270px;

	}
    #dd{
	    font-family:  helvetica, Arial, sans-serif;
		color: #86868b;
		letter-spacing: 0.3px;
		font-size: 12px;
		margin: -15px 270px 2px 270px;
		display: flex;
		justify-content: space-between;
    } 
    header{
	    background-color: #1d1d1f;
	    margin-left: -5px;
    }
    #mm{
	    color: white;
	    font-size: 14px;
	    letter-spacing: -0.14px;
	    margin: 0px 380px 0px 380px;
	    font-family:  helvetica, Arial, sans-serif;
	    display: flex;
	    justify-content: space-between;
	    color: #86868b;
	}
	
#gg{
	background-color: blue;
	color: #ffffff;
	font-size: 14px;
	margin: -15px 0px 0px -5px;
	text-align: center;
	line-height: 35px;
	font-family: sans-serif;
	letter-spacing: -0.14px;
}
#hh{
	color: #1d1d1f;
	text-align: center;
	font-family:  helvetica, Arial, sans-serif;
	font-size: 14px;

}
#applelogo{
	width: 35px;
	height: 30px;
	padding-top: 5px;
}
.oo{
	display: flex;
	justify-content: space-between;
	align-items: left;
	margin: 10px 100px 10px 100px;
}